# --- Pastas de Compilação (Obrigatório ignorar) ---
[Bb]in/
[Oo]bj/

# --- Configurações do VS Code ---
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
*.code-workspace

# --- Arquivos Temporários do .NET ---
*.log
*.tmp
*.swp
.ionide/

# --- Resultados da Simulação (Opcional) ---
# Ignora os arquivos CSV para que seus testes locais não sujem o Git
*.csv

# --- Arquivos de SO ---
.DS_Store
Thumbs.db

# --- User-specific files ---
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates